.nav {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.nav-list-ul {
    display: flex;
    margin-right: 70px;    
}

.nav-list-ul li{
    padding: 30px 20px ;
    font-weight: 500;
}

.logo {
    width: 70px;
    height: 70px;
    margin-left: 70px;
}

.responsive-div {
    margin: auto 5%;
    display: none;
}

.nav-menu {
    position: absolute;
    top: 90px;
    right: 0px;
    width: 150px;
    height: 150px;
    /* display: none; */
    background-color: white;
}

.nav-menu ul {
    padding-left: 10px;
    padding-top: 15px;
}

.nav-menu ul li {
    padding-bottom: 10px;
}

@media screen and (max-width: 1050px) {
    .nav-list-ul {
        display: none;
    }

    .nav-menu {
        display: flex;
        
    }

    .responsive-div {
        display: flex;
    }
    
}