.intro {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

.intro-img img{
    height: 400px;
    width: 600px;
}

.text h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    color: #232631;
}  

.text h1 {
    font-size: 60px;
    margin-top: 0;
    font-weight: 900;
    line-height: 70px;
    color: #2766D7;
}

.text p {
    font-size: 30px;
    margin-top: 0;
    color: #232631;
}

.cta-btn {
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin: 20px 0;
}

@media screen and (max-width: 1240px) {
    .intro-img img{
        height: 300px;
        width: 500px;
    }

    .text h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1050px) {
    .intro {
        flex-direction: column;
        margin-bottom: 30%;
        justify-content: center;
        align-items: center;
    }

    .intro-img img{
        height: 300px;
        width: 500px;
    }

    .text h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 540px) {
    .intro {
        margin: 0 40px;
        margin-top: 0px;
    }    

    .intro-img img{
        height: 230px;
        width: 380px;
    }

    .text h2 {
        font-size: 20;
    }

    .text h1 {
        line-height: 45px;
        font-size: 43px;
    }

}