body {
  margin: 0;
  padding-top: 80px;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(252, 252, 252);
  scroll-behavior: smooth;
}

.margin {
  margin: 70px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}